*{
	margin: 0;
	padding: 0;
}
body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,111,1) 38%, rgba(0,212,255,1) 100%);;
}
.navbar-nav{
	font-size: 18px;
}
.navbar{
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 2px solid #000;

}

.progress{
	height: 30px;
	border-radius: 50px;
	transition: all 0.5s ease;
}
.progress:hover{
	transform: scale(1.1);
}

.card{
	transition: all 0.5s ease;
}
.card img{
	height: 100px;
	width: 100px;
	margin: auto;

}
.card:hover{
	transform: scale(1.1);
	box-shadow: 1px 2px 10px #000;
}
hr{
	border: 2px solid #000;
}
.card-body{
	overflow: scroll;
}